/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Import urls
*/
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
:root{
    --screensize:110vh;
}
/*
first look
*/
.firstlook{
    height: var(--screensize);

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.firstlook h1{
    font-size: 5em;
    font-family: 'Marck Script', cursive;
    text-shadow: 0px 15px 4px rgba(0,0,0,0.25);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.firstlook h1:hover{
    color: tomato;
    text-shadow: 0px 0px 10px gold;
}
/*
Nav bar
*/
.nav{
    display: inline-block;
    list-style-type: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,303030+11,2c2c2c+51,000000+51,2b2b2b+67,2b2b2b+67,131313+100 */
    background: #4c4c4c; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg,  #4c4c4c 0%,#303030 11%,#2c2c2c 51%,#000000 51%,#2b2b2b 67%,#2b2b2b 67%,#131313 100%);
    background: linear-gradient(45deg,  #4c4c4c 0%,#303030 11%,#2c2c2c 51%,#000000 51%,#2b2b2b 67%,#2b2b2b 67%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    box-shadow: 0px 0px 48px -5px rgba(114,220,255,0.51) inset;
    -webkit-box-shadow: 0px 0px 48px -5px rgba(114,220,255,0.51) inset;
    -moz-box-shadow: 0px 0px 48px -5px rgba(114,220,255,0.51) inset;
}
.nav button{
    width: 100%;
    background-color: rgba(255, 217, 0, 0);
    color: honeydew;
    border:2px solid rgba(0, 0, 0, 0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0px 0px;
    padding: 3.4px;
    display: block;

}
.nav button:hover{
    background-color: rgba(182, 182, 182, 0.52);
    color:#131313;
    border-style: solid;
    border-color: indianred;
    text-shadow: -10px 0px 3px rgba(0,0,0,0.44);
}
.nav a{
    text-decoration-line: none;
}
/*
Web dev site
*/
.site{
    height: var(--screensize);
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.site h2{
    text-align: center;
    border:2px solid rgba(135, 207, 235, 0);
    transition: all 0.5s ease;
    font-family: 'Marck Script', cursive;
    text-shadow: 0px 15px 4px rgba(0,0,0,0.25);
}
.site h2:hover{
    color: tomato;
    text-shadow: 0px 0px 10px gold;
}
.site p{
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-gap: 27px;
    -webkit-column-gap: 27px;
    -moz-column-gap: 27px;
    column-rule: 2px solid #000000;
    -webkit-column-rule: 2px solid #000000;
    -moz-column-rule: 2px solid #000000;
    padding: 1em;
    font-family: monospace;
    font-size: 22px;
    }