


:root{
    --main-color: orange;
    --secend-color:rgb(255, 204, 110);
    --transTime: 2s ease linear ;
}
.cnavbar{
    background-color: var(--main-color);
}
.home{
    min-height: 100vh ;
    background-color: var(--secend-color);
    overflow: hidden;
}
.navbar-brand{
    transition: var(--transTime) ;
}
.navbar-brand:hover {
    text-shadow: 2px 2px 2px #CE5937;
}
.ctm{
    margin-top: 20vh;
}
.gamePcImg{
    width: 100%;
}