h1{
    color:red;
    padding: 5% 10% 5% 10%;
    margin: auto;
    border-style: solid;
    background-color: rgba(171, 221, 230, 0.863);
}
h3{
    color: tomato;
    border-style: double;
    border-radius: 25px;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0px;
    background-color: rgba(96, 78, 158, 0.931);
}
p{
    color: rgb(45, 161, 165);
}
ul{
    border-style: groove;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    color: forestgreen;

}
li:hover{
    font-size: 20px;
    color: gold;
}
input:hover{
    padding: 20px 60px 20px 60px;
}
button:hover{
    padding: 5px 10px 5px 10px;
}